.image {
	padding:16px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 70%;
	height : 50%;
}

.button1 {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #373F27;  
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}