{% block content %}

<form method="POST" action="{{link}}" id="usrform">

QuestionId: <input value="{{details.qid}}" name="qid" id="qid">
Answer: <input type="answer" name="answer" id="answer" value="{{details.answer}}">
<input type="submit" value="{{buttonName}}">

</form>
Question:
<textarea name="question" form="usrform" id="question" rows="10" cols="50">{{details.question}}</textarea>



{% endblock %}