{% block content %}
{% set count = 0 %}
<a href="/addQuestion">Add question</a><br>
<a href="/players">PlayerInfo</a><br>

<table style="width:100%">
<tr>
	<th>QuestionId</th>
	<th>Question</th>
	<th>Answer</th>
	<th>Edit</th>
	<th>Remove</th>
	<!--<th>Down</th>
	<th>Up</th>-->
</tr>
{% for row in info %}
<tr>
<td>{{row.questionId}}</td>
<td>{{row.question}}</td>
<td>{{row.answer}}</td>
<td><a href="/editQuestion?qid={{row.questionId}}">Edit?</a></td>
<td><a href="/removeQuestion?qid={{row.questionId}}">Remove?</a></td>
<!--{% if count != info.length - 1 %}
<td><a href="/reorder?qid1={{row.questionId}}&qid2={{info[count+1].questionId}}">Down?</a></td>
{% endif %}
{% if count != 0 %}
<td><a href="/reorder?qid1={{row.questionId}}&qid2={{info[count-1].questionId}}">Up?</a></td>
{% endif %}-->
{% set count = count + 1 %}
</tr>

{% endfor %}

</table>


{% endblock %}