{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
    <a href="/">Home</a>
    <a href="/rules">Rules</a>
     <a href="/format">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %}	
<h1>{{message}}</h1>
{% endblock %}