{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
   <a href="/">Home</ass>
    <a href="/rules">Rules</a>
    <a href="/format" class="active">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 
<ol>
<br>
<li>It is an individual online treasure hunt.</li>

<li>It is a single round event consisting of 15 levels.</li>

<li>Answer contains only alphabets and numbers without spaces and any special characters.(For example: If the answer is ‘The Imitation Game’, then it should be ‘theimitationgame’)</li>

<li>Each level contains maximum of 3-5 clues which range from url, source code, image, audio, zip and ciphers.</li>

<li>The leaderboard will be based on who clears the highest level first and so on.</li>
</ol>
{% endblock %}