{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
     <a href="/">Home</a>
    <a href="/profile">Profile</a>
    <a href="/rules">Rules</a>
    <a href="/format">Format</a>
    <a href="/leaderboard" class="active">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 
{% set count=1 %}
<div class="w3-responsive">
<table id="table_id" class="w3-table-all w3-card-4">
<tr>
  <th>S.no</th>
  <th>Name</th>
  <th>Level</th>
</tr>
{% for u in userdata %}
{% if u.block == false and u.Admin == false %}
<tr>
  <td>{{count}}</td>
  <td>{{u.name}}</td>
  <td>{{u.level}}</td>
  {% set count = count + 1 %}
</tr>
{% endif %}
{% endfor %}
</table>
</div>

{% endblock %}