{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
   <a href="/" class="active">Login</a>
    <a href="/signup">SignUp</a>
    <a href="/rules">Rules</a>
    <a href="/rules">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %}	
<form action="/" method="POST">
  <div class="form-group" style="padding-left: 3%;padding-right: 3%">
    <h2>{{message}}</h2>
  <p>UserName</p>
  <input class="form-control" name="uname" id="uname" type="text">
  <p>Password</p>
  <input class="form-control" name="passwd" id="passwd" type="password">
</div>
  <ul class="links">
  <li><input type="submit" value="SignIn"></li>
  <li><a href="/signup">Signup</a></li>
  </ul>
</form>
{% endblock %}