{% block content %}
{% set count = 0 %}
<a href="/addQuestion">Add question</a><br>

<table style="width:100%">
<tr>
	<th>Username</th>
	<th>Level</th>
	<th>SubmissionInfo</th>
	<th>Block</th>
	<!--<th>Down</th>
	<th>Up</th>-->
</tr>
{% for row in players %}
<tr>
<td>{{row.userName}}</td>
<td>{{row.level}}</td>
<td><a href="/submissions?uname={{row.userName}}">Info</a></td>
<td><a href="/blockplayer?uname={{row.userName}}">Block</a></td>
</tr>

{% endfor %}

</table>


{% endblock %}