{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
   <a href="/">Home</a>
    <a href="/profile" class="active">Profile</a>
    <a href="/rules">Rules</a>
    <a href="/rules">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 

<ul>
    <li><p>Name : {{user.name}}</p></li>
    <li><p>Email : {{user.email}}</p></li>
    <li><p>Phone : {{user.phone}}</p></li>
    <li><p>UserName : {{user.userName}}</p></li>
    <li><p>Level : {{user.level}}</p></li>
    <li><p>Year : {{user.year}}</p></li>
    <li><p>Department : {{user.level}}</p></li>
    <li><p>College : {{user.level}}</p></li>
</ul>
<form action="/changepassword" method="POST">
  <div class="form-group" style="padding-left: 3%;padding-right: 3%">
   <p>Old Password</p>
  <input class="form-control" name="oldpassword" id="oldpassword" type="password">
  <p>New Password</p>
  <input class="form-control" name="newpassword" id="newpassword" type="password">
  <p>Confirm Password</p>
  <input class="form-control" name="confirmpassword" id="confirmpassword" type="password">
</div>
  <ul class="links">
  <li><input type="submit" value="Change"></li>
  <li><a href="/logout">Log Out</a></li>
  </ul>
</form>
{% endblock %}