{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
     <a href="/" class="active">Home</a>
    <a href="/profile">Profile</a>
    <a href="/rules">Rules</a>
    <a href="/rules">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 

<h1>Question</h1>
<div class="question">{{question.question|safe}}</div>
<form action="/submit" method="POST">
  <div class="form-group" style="padding-left: 3%;padding-right: 3%">
   <p>Your answer</p>
  <input class="form-control" name="answer" id="answer">
  <input style="visibility: hidden;" name="questionId" value="{{question.questionId}}">
  <input style="visibility: collapse;" name="level" value="{{level}}">
  </div>
  <ul class="links">
  <li><input type="submit" value="Submit"></li>
  </ul>
</form>
{% endblock %}