{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
     <a href="/" class="active">Home</a>
    <a href="/profile">Profile</a>
    <a href="/rules">Rules</a>
    <a href="/format">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 

<h1>Question</h1>
<p>{{message}}</p>
  <ul class="links">
  <li><a href="/">Continue Playing</li>
  </ul>
</form>
{% endblock %}