{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
   <a href="/">Home</a>
    <a href="/rules" class="active">Rules</a>
    <a href="/format">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 
<br>
<ol>
<li>The event consists of a series of levels with visuals and texts which are riddles and you should solve them to advance.</li>
<li>This is a non-technical event and there is absolutely no preparation or previous experience needed.
</li>
<li>The moderators are there to monitor the progress of players and glitches/bugs
</li>
<li>Clues will be provided as and when required.
</li>
<li>Spamming on the forums, using offensive language, cheating or helping other players will lead to disqualification from the event.
</li>
<li>The moderators’ decision is final
</li>
</ol>
{% endblock %}