{% extends 'base.html' %}

{% block navbar %}

<div class="topnav">

  <!-- Centered link -->
  <div class="topnav-centered">
  <a href="/">Login</a>
    <a href="/signup" class="active">SignUp</a>
    <a href="/rules">Rules</a>
    <a href="/rules">Format</a>
    <a href="/leaderboard">Leaderboard</a>
  </div>

  <!-- Left-aligned links (default) -->
  </div>

{% endblock %}

{% block content %} 
<form action="/signup" method="POST">
  <div class="form-group" style="padding-left: 3%;padding-right: 3%">
    <h2>{{message}}</h2>
  Name
  <input class="form-control" name="name" id="name" type="text">
  Email
  <input class="form-control" name="email" id="email" type="email">
   Phone
  <input class="form-control" name="phone" id="phone" type="phone">
   Year
  <input class="form-control" name="year" id="year" type="text">
  Department
  <input class="form-control" name="dept" id="dept" type="text">
  College
  <input class="form-control" name="college" id="college" type="text">
   UserName
  <input class="form-control" name="username" id="username" type="text">
  Password
  <input class="form-control" name="password" id="password" type="password">
  Confirm Password
  <input class="form-control" name="cpass" id="cpass" type="password">
</div>
  <ul class="links">
  <li><input type="submit" value="SignUp"></li>
  <li><a href="/">SignIn</a></li>
  </ul>
</form>
{% endblock %}