body {
  /*padding-top: 20px;*/
  background-image: url("/images/background.jpeg");

    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
	background-color: #3a57af;
  margin-bottom: 20px;
}

.navbar-brand {
		background-color: #3a57af;
}
 .right{
 	float: right;
 	clear:both;
 }

 .content {
 	font-family: "Open-Sans";
 	font-size: 36;
 	color: white;
 	font-style : "bold";
 	text-align: center;
 }

 .button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #3a57af; 
  -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
  -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
  box-shadow: 0 3px rgba(58,87,175,.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}